
input:invalid{
    border-color:red;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: orange;
}


.coordonnees{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

[name="nom"]{
    width: 50%;
}

[name="prenom"]{
    width: 50%;
}


.vosBesoins{
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-top: 25px;
}

.but{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

[name="description"]{
    width: 100%;
}
[name="besoin"]{
    height: 20px;
}

.VB{
    display: flex;
    flex-direction: row;
    width: 100%;
}