body{
    margin:0;
}


header{
    height: 300px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top:0;
    background-image: url('../Image/5PJ6ILl.jpg');
    background-size: cover;
    background-position: center;
}

#main-content{
    margin-top:300px;
    display: flex;
}


nav{
    min-height: 100px;
    width: 300px;
}


nav ul{
    list-style: none;
    margin:0;
    padding: 0;
}


nav ul li a{
    text-decoration: none;
    font-weight: 900;
    color: white;  
}


nav ul li{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: darkgreen;
}


main{
    min-height: 100px;
    width: 100%;
}



footer{
    min-height: 100px;
}

footer .f-top{
    color:white;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

footer .f-bottom{
    color:white;
    background-color: black;
    text-align: center;
    padding: 5px 0;
}