body{
    background-image: url(../Image/galaxy.jpg);
}



h1{
    display: flex;
    justify-content: center;
    height: 50px;
    text-decoration: underline;
    color: white;
} 
p{
    color: rgb(48, 182, 182);
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 20px;
    color: white;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.renard{
    display: flex;
    width: 200px;
    height: 200px;
}


ol>li{
    color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: green;
}

.papy{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}