body{
    margin: 0;
}

.logoH{
    margin-left: 350px;
    margin-right: 125px;
    width: 150px;
    height: 80px;
}


header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    box-shadow: 0 2px 5px 5px;
    width: 100%;
    height: 80px;
    background-color: white;
}


header>ul>li{
    margin-left: 25px;
    margin-right: 25px;
}

header>ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-right: 300px;
    list-style: none;
}

header>ul>li>a:hover{
    color:orange;
    font-size: 30px;
    transition: all linear 0.3s;
}

header>ul>li>a::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid black;
    width: 0;
    bottom: 0;
    left: 50%;
}

header>ul>li>a:hover::after{
    width: 100%;
    left: 0;
    transition: all linear 0.5s;
    border-color: orange;
    
}

header>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
}


#mail {
    border: none;
    display:block;
    position: fixed;
    bottom: 65px;
    right: 25px;
    width:100px;
    height:50px;
    background:url(../images/boutonnoir.png) no-repeat;
    color:white;
    text-decoration:none;
    }

#mail:hover{
    font-size: 25px;
    color:orange;
}

.f-fixe{
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    box-shadow: 0 -2px 5px 5px;
}

.f-fixe>ul{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#copy{
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.f-fixe ul li a span{
    text-decoration: none;
    font-size: 30px;
    width: 30px;
    color: orange;
}

.f-fixe ul li a span:hover{
    animation-name: monAnim;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.main-content{
    margin-top: 80px;
}

.velo{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.velo li{
    width: 25%;
}

.velo li a{
    display: block;
    display: flex;
    justify-content: center;
    height: 25vw;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.velo li a>span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    background-color:rgba(0,0,0,0.5);
    color: white;
    margin-top: 20vw;
}


.velo li a:hover>span{
    height: 25vw;
    margin-top: 0;
    transition: all linear 0.5s;
}


h1{
    text-decoration-line: underline;
    font-size: 50px;
}

.Para>h1{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Para>p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25vw;
    width: 50vw;
    font-style: italic;
    font-family: 'Time New Roman';
    font-size: 25px;
}

.m img{
    height: auto;
    width: 15vw;
}

.m{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-right:15px ;
    padding-left:15px ;
}

.m a{
    margin-left: 70px;
}

.m a:hover{
    color: orange;
}

.m li{
    margin-left: 17px;
    list-style: none;
}

.m li:hover{
    color: orange;
}

.n-fixe{

    padding-bottom: 130px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(22, 21, 21);
}

.p1{
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px ;
    padding-right: 25px;
}


.p2{
    padding-left: 25px;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px ;
}

.p1>a:hover{
    color: orange;
}

.p2>a:hover{
    color: orange;
}

.n-fixe a{
    color: white;
    text-decoration: none;
}

@keyframes monAnim {
    0%{}
    25%{
        transform: rotate(-45deg);
    }

    50%{
        transform: rotate(45deg);
    }

    75%{
        transform: rotate(45deg);
        transform: scale(1);
    }

    100%{
        transform: rotate(-45deg);
        transform: scale(1.2);
    }

}

@media screen and (max-width: 768px){
    .velo li a{

        height: 50vw;
    }
    .velo li{
        width: 50%;
    }

    header{
        height: unset;
        flex-direction: column;
        
    }

    header ul{
        flex-direction: column;

    }
    header ul li{
        margin-bottom: 20px;
    }
    .main-content{
        margin-top: 45vw;
    }
}



@media screen and (max-width: 576px){
    .velo li a{
        height: 100vw;
    }
    .velo li{
        width: 100%;
    }

    header{
        height: unset;
        flex-direction: column;
    }

    header ul{
        flex-direction: column;
    }

    header ul li{
        margin-bottom: 10px;
    }
    .main-content{
        margin-top: 75vw;
    }
    .n-fixe{
        flex-direction: column;
    }

    .p1{
        padding-right: unset;
    }

    .p2{
        padding-left: unset;
    }

    .m{
        margin-left: unset;
        margin-right: unset;
        padding-right:unset ;
        padding-left:unset ;
    }
    
    .m li{
        margin-left: unset;
        margin-bottom: 10px;
    }

    .m a{
        margin-left: unset;
        margin-top: 10px;
    }
}
