/* *{
    border: 1px solid black;
}

body{
    border: 1px solid red;
} */

div{
    /* ne prends pas en compte le padding et la border de la taille */
    box-sizing: border-box;
    /* largeur */
    width: 25%;
    /* hauteur */
    min-height: 100px;
    border: 1px solid green;
    /* marge intérieur */
    padding: 10px;
    /* marge extérieur */
    /* margin: 50px 100px 10px 200px; */
    margin: 60px auto;
    /* quand l'élèment dépasse */
    /* overflow: scroll; */

    /* marges extérieur */
}

img{
    width: 500px;
}
/* taille en pixel % et viewport vw */