/* un commentaire css*/

/*
selecteur
{
propriété : valeur;
} 
 */

 p, h2{
     color: green;
     font-size: 24px;
 }

 p.blue{
     color:blue;
 }

 #monId{
     color: red;
 }

 .maTable td {
     color: skyblue;
 }

 .list>li{
     border: 1px solid black;
 }

 .maClass2~p{
     color: blueviolet;
 }

 /* élèments paire*/
 ol>li:nth-child(2n){
     color: brown;
 }

 /* élèments impaire */
 ol>li:nth-child(2n+1){
    color: darkmagenta;
}

/*  */
ol>li:nth-child(3n+1){
    color: gold;
}

 /* deuxieme élèments */
 /* ol>li:nth-child(2){
    color: brown;
} */
