
body{
    font-size:14px;
}

div:first-child{
    font-size: 20px;
}

div{
    font-size: 10px;
}

p{
    /* color:rgb(98, 223, 98); */
    color:rgb(65, 228, 33);

    text-align: left;
    /* rapport au body */
    font-size: 2em;

    /* 2rem => par rapport aux parents */

    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    font-style: italic;
    font-weight: 100;
    font-family: 'Time New Roman'; 


}

a{
    text-align: center;
}