*{
    margin: 0;
    padding: 0;
    
}

header {
	height: 350px;
	background-image: url('https://i.ya-webdesign.com/images/pokemon-banner-png-15.png');
	/* background-size: cover; */
	background-repeat: no-repeat;
    background-position: center center;
    background-color: #4A3E3E; 
    
    
}

main {
    /* position: relative; */
    display: flex;
    background-color: #4A3E3E;  
}

.jeu {
    display: flex;
    margin-left: 150px;
    /* position: absolute; */
    width: calc(100% - 150px);
    height: calc(100vh - 350px);
    box-sizing: border-box;
}

div.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.card1{
    display: flex;
    justify-content: center;
}

.card-img-top1{
    height: 250px;
    width: 200px;
    cursor: pointer;
}

main nav{
    position: absolute;
    width: 150px;
    height: calc(100vh - 350px);
}
